@import "./variables";
@import "./mixins";
@import "./header";
@import "./search_div";
@import "./sidebar";
@import "./sign_form";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

body {
    background-color: black;
    margin: 0;
}
 
#background {
    background-image: url(../../public/storage/bg.jpg);
    background-size: cover;
    transform: scale(1.03);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -50;
    display: block;
    filter: brightness(50%) blur(5px);
}

/* #top_body {
    display: flex;
    margin: 8px;
}
 */
#right {
    flex: 1;
}

/* #upcoming_matches{
    color: white;
} */

#home_page {
    padding-top: 20px;
    display: flex;
}


